@{
    ViewData["Title"] = "Info about projects";
    Layout = "Layout";
}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project name</th>
      <th>Date from</th>
      <th>Date to</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var project in ViewBag.projects)
    {
        <tr>
        <th scope="row">@project.Id</th>
        <td><a href="/project/@project.Id">@project.Title</a></td>
        <td>@project.DatePeriod.From</td>
        <td>@project.DatePeriod.To</td>
        </tr>
    }
  </tbody>
</table>

