@{
    ViewData["Title"] = "Info about project " + ViewBag.project?.Id;
    Layout = "Layout";
    var project = ViewBag.project;
}

<div class="col-xl-12">
  <div class="card" id="card">
    <div class="card-body">
      <h5 class="card-title">@project?.Title</h5>
      <h6 class="card-subtitle mb-2 text-muted">DatePeriod: @project?.DatePeriod.From and @project?.DatePeriod.To</h6>
      <a href="/project/@project?.Id/contribution/create" class="card-link">Add contribution</a>
      <a href="/project/@project?.Id/contribution" class="card-link">Contributions</a>
      <button class="btn btn-danger card-link" onclick="deleteProject(@project?.Id)">DELETE project</button>
    </div>
  </div>
</div>