<table>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Employee name</th>
      <th>Skills</th>
    </tr>
  </thead>
  <tbody>
    <tr class="element" *ngFor="let employee of employees" [class.selected]="employee === selectedEmployee" (click)="onSelectEmployee(employee)">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td><span *ngFor="let skill of employee.skills">{{ skill.title }} </span></td>
    </tr>
  </tbody>
</table>

<app-employee-detail *ngIf="selectedEmployee" [employee]="selectedEmployee"></app-employee-detail>