@{
    ViewData["Title"] = "Info about employee " + ViewBag.employee.Id;
    Layout = "Layout";
}

<div>
    @ViewBag.employee.Name
    <ul>
        @foreach (var contribution in ViewBag.employee.Contributions)
        {
            <li>@contribution.Title</li>
        }
    </ul>
    <p>@ViewBag.employee.Name - has next skills:</p>
    <ul>
        @foreach (var employeeSkill in ViewBag.employee.EmployeeSkills)
        {
            <li>@employeeSkill.Skill.Title</li>
        }
    </ul>
</div>
