//@import '../../../styles';

nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav > ul > li {
    list-style: none;
    padding: 5px;
    border-radius: 5px;
}

nav > ul > li:hover {
    background-color: #38c5f4;
}

nav > ul > li > a {
    color: black;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #333333;
}