<article *ngIf="isLoaded">
    <section id="card">
      <h4>Project details</h4>
      <div>
        <h5>{{ project.title }}</h5>
        <div> 
          <p><strong>From</strong> {{ project.datePeriod.from | date : 'yyyy-MM-dd'}}</p>
          <p><strong>To</strong>{{ project.datePeriod.to | date : 'yyyy-MM-dd'}}</p>
        </div>
      </div>
    </section>
    <section id="form">
      <app-new-contribution [employees]="employeesForForm" 
      (onSubmitFormEvent)="createContribution($event)" 
      [selectedContribution]="editingContribution">
      </app-new-contribution>
    </section>
    <section id="list">
      <app-contribution-list [contributions]="contributions" 
      (onDeleteContributionEvent)="deleteContribution($event)" 
      (onEditContributionEvent)="editContribution($event)">
      </app-contribution-list>
    </section>
</article>