@import '../../../styles';

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#card {
    flex-basis: 30%;
}

.body {
    display: flex;
    p {
        padding-right: 3px;
    }
}
#form {
    flex-basis: 70%;
}

#list {
    flex: 1;
}
