@import '../../../styles';

article {
    @extend .col-xl-12;
}

section {
    @extend .card;
    margin: {
        top: 10px;
        bottom: 10px;
    }
}

h4 {
    margin-top: 20px;
}

h5 {
    @extend .card-title;
}

div {
    @extend .card-body;
}

p {
    @extend .card-text;
}