<article>
  <h4>Adding new contribution for project </h4>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label for="title">Title:</label>
      <input type="text" formControlName="title" id="title">
    </div>
    <div formGroupName="datePeriod">
        <div>
          <label for="from">Date from </label>
          <input type="date" formControlName="from" id="from">
        </div>
        <div>
          <label for="to">Date to</label>
          <input type="date" formControlName="to" id="to">
        </div>
      </div>
    <button type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</article>