@import '../../../styles';


button {
    @extend .btn;
}

button.danger {
    @extend .btn-danger;
}

button.success {
    @extend .btn-success;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 300px) {
    article {
        justify-content: center;
    }
}

section {
    border: 1px solid black;
    margin: 5px;
}
