<h4>Contribution list</h4>
<table>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Contribution name</th>
        <th>Date from</th>
        <th>Date to</th>
        <th>Employee</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contribution of contributions">
        <td>{{ contribution.id }}</td>
        <td>{{ contribution.title }}</td>
        <td>{{ contribution.datePeriod.from | date : 'yyyy-MM-dd'}}</td>
        <td>{{ contribution.datePeriod.to | date : 'yyyy-MM-dd'}}</td>
        <td>{{ contribution.employee.name }}</td>
        <td><button class="btn btn-danger" (click)="onDeleteContribution(contribution)">Delete</button></td>
      </tr>
    </tbody>
</table>