@import '../styles.scss';

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    > div {
        display: flex;
        flex-wrap: wrap;
        > aside {
            flex: 0 0 300px;
            background-color: lightgreen;
            order: -1;
            padding: 10px;
            text-align: justify;
        }
        > main{
            flex: 1;
            padding: 5px;
            min-height: 100vh;
        }
    }
}

footer {
    @extend .bg-primary;
    @extend .fixed-bottom;
}

header {
    margin-bottom: 80px;
}