@import '../styles.scss';

div {
    @extend .container-fluid;
}

div > div {
    @extend .row;
}

aside {
    @extend .order-1, .col;
    flex: 0 0 200px;
    background-color: grey;
}

main {
    @extend .order-2, .col;
}

footer {
 //@extend .bg-primary, .fixed-bottom;
}

header {
    margin-bottom: 70px;
}