<article>
  <h4>Adding new employee</h4>
  <div *ngIf="isSuccess" class="alert alert-success" role="alert">
  This is a success alert—check it out!
  </div>
  <div *ngIf="errors" class="alert alert-danger" role="alert">
      <p *ngFor="let message of errors.Name">
          {{ message }}
      </p>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input type="text" formControlName="name" id="name">
    </div>
    <div>
      <label for="skills">Skills:</label>
      <select class="form-control" id="skills" formControlName="skills" multiple>
        <option *ngFor="let skill of skills" [value]="skill">{{ skill.title }}</option>
      </select>
    </div>
    <button type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</article>